---
interface Props {
  title: string;
  description: string;
  canonicalPath: string;
}

const { title, description, canonicalPath } = Astro.props;
const canonicalUrl = new URL(canonicalPath, 'https://domain.com').toString();
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
